.Chatbox {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 15px;
}

.chatOutBox {
  border-radius: 8px;
  background-color: #e3ffd3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 61px;
  width: 81%;
  margin-left: 15%;
}
.chatFlex {
  display: flex;
  align-items: center;
  gap: 12px;
}
.chatImage {
  border-radius: 53px;
  width: 35px;
  height: 35px;
  margin-left: 13px;
}
.chatText {
  font-size: 14px;
  margin-top: unset;
  margin-bottom: unset;
  width: 58%;
}

.chatTime {
  font-size: 12px;
  margin-right: 13px;
}

.chatInBox {
  border-radius: 8px;
  background: linear-gradient(180deg, #e9e9e9 0%, rgba(216, 216, 216, 0.31) 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  width: 80%;
  margin-left: 4%;
  margin-top: 15px;
  margin-bottom: 15px;
}

