.headerChat{
    background-color: #2EA5E1;
    display: flex;
    height: 89px;
    align-items: center;
    justify-content: space-between;
    padding-left: 8%;
    padding-right: 31%;
    font-size: 20px;
}

.headerChatImage{
    border-radius: 30px;
}
.headerChatGreeting{
    color: white;
    font-size: 20px;
}