.cardMeeting{
    margin-left: 7.5%;
    border-radius: 5px;
    background-color: #A0C73E;
    height: 212px;
    width: 85%;
    margin-top: 9px;
    display: flex;
    padding-left: 4.5%;
    align-items: center;
    justify-content: space-between;
    padding-right: 2%;
}
.cardMeetingCollumn{
    display: flex;
    flex-direction: column;
    height: 184px;
    gap: 8px;
}
.cardMeetingPlace{
    height: 57px;
    background-color: white;
    width: 228px;
    border-radius: 5px;
    padding-top: 5%;
    padding-left: 8%;
}
.cardMeetingPlaceAddress{
    margin-top: unset;
    margin-bottom: unset;
    font-weight: 600;
}
.cardMeetingPlaceTime{
    margin-top: 5px;
    font-size: 12px;
}
.cardMeetingDate{
    color: white;
    font-size: 22px;
}

